.fa-android:before {
  content: "\f17b"; }
  
.fa-book:before {
  content: "\f02d"; }

.fa-check:before {
  content: "\f00c"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-github:before {
  content: "\f09b"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-linkedin:before {
  content: "\f08c"; }
